{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% if user.is_authenticated == False %}
        <br><br>
        <H1> Этот раздел Вам недоступен, необходимо войти</H1>

    {% else %}
    {% endif %}
{% endblock %}

{% block sub_content %}
    {% if user.is_authenticated == False %}
    {% else %}
        <H2>Сумма: {{sum}}</H2>
        <table class="table">
            {% for mark in mark_list %}
                <tr>
                    <td>
                        {{ mark.task.task_name }}<br>
                        {% if  mark.state == 0 %}
                            <p class="muted">(Задание не отправлено на проверку)</p>
                         {% endif %}
                        {% if  mark.state == 1 %}
                            <p class="text-error">(Есть недочёты)</p>
                         {% endif %}
                         {% if  mark.state == 2 %}
                            <p class="text-success">(Принято оформление)</p>
                        {% endif %}
                        {% if  mark.state == 3 %}
                            <p class="text-success">(Задание защищено)</p>
                        {% endif %}
                        {% if  mark.state == 4 %}
                            <p class="text-primary">(Задание отправлено на проверку)</p>
                        {% endif %}
                    </td>
                    <td>
                        Оценка: {{mark.m_value}}
                    </td>
                    <td>
                        {% if  mark.state == 0  %}
                            <a href="\mark\needCheck\{{mark.pk}}\" class="btn btn-primary">Отправить на проверку</a>
                        {% endif %}
                        {% if  mark.state == 1  %}
                            <a href="\mark\needCheck\{{mark.pk}}\" class="btn btn-primary">Отправить на проверку</a>
                        {% endif %}
                         {% if  mark.state == 2  %}
                            <a href="" class="btn btn-danger">Отправить на проверку</a>
                        {% endif %}
                        {% if  mark.state == 3  %}
                            <a href="" class="btn btn-danger">Отправить на проверку</a>
                        {% endif %}
                        {% if  mark.state == 4  %}
                            <a href="" class="btn btn-danger">Отправить на проверку</a>
                        {% endif %}
                    </td>

                    <td>
                        <a href="\mark\detail\{{mark.pk}}\" class="btn btn-default">Обсуждение</a>
                    </td>
                    <td>
                        <b>{{ mark.comment.last.author.user.first_name }}: </b>
                        {{ mark.comment.last.text }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}