{% extends "progressus/comments.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}



{% block page_menu_links %}
			<li><a href="/customer/campanies/">Кампании</a></li>
			<li class="active">Детали кампании</li>
{% endblock %}


{% block chat_info %}


<form action="" method="post">{% csrf_token %}</form>


<form action="/customer/campany/modify/{{id}}/" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td colspan="2">
                                {% bootstrap_field form.description %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% bootstrap_field form.viewPrice %}
                            </td>
                            <td>
                                {% bootstrap_field form.budget %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% bootstrap_field form.startTime %}
                            </td>
                            <td>
                                {% bootstrap_field form.endTime %}
                            </td>
                        </tr>

                        {% if isAdmin %}
                        <tr><td><a href="{{link}}" class="btn">Посмотреть запись</a></td>
                        <td>
                               {% bootstrap_field form.vkPostID %}
                        </td>
                        </tr>
                            <tr>
                                 <td>
                                {% bootstrap_field form.platform %}
                                </td>
                                <td align="right">
                                    <a href="{% static form.image.value.url %}" class="btn btn-success">Картинка</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-primary"
                                        {% if disableModify %}
                                        disabled
                                        {%endif%}>
                                            Принять
                                </button>
                                </td>
                                <td align="right">
                                    <a href="/adminPanel/campany/dismiss/{{id}}/" class="btn btn-danger"  {% if disableModify %}
                                        disabled
                                        {%endif%}>Отклонить</a>
                                </td>
                            </tr>
                        {%else%}
                        <tr>
                            <td><a href="{{link}}" class="btn">Посмотреть запись</a></td>
                          <td align="right">
                                    <a href="{% static form.image.value.url %}" class="btn btn-success">Картинка</a>
                                </td>
                        </tr>
                        <tr>
                            <td> Если вы хотите изменить картинку</td>
                        </tr>
                            <tr>

                            <td colspan="2" valign="center">
                                    {{ form.image }}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% bootstrap_field form.platform %}
                            </td>
                            <td align="center" valign="bottom">
                                {% buttons %}
                                <button type="submit" class="btn btn-primary"
                                        {% if disableModify %}
                                        disabled
                                        {%endif%}>
                                    Сохранить
                                </button>
                                {% endbuttons %}
                            </td>
                        </tr>
                        {% endif %}


                    </table>
                </form>

{% endblock %}
