{% extends "progressus/simplePage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block style_block %}
    .table td {
        text-align: center;
    }
    .table th {
        text-align: center;
    }
    th.rightOrient{
        text-align: right;
    }


{% endblock %}

{% block page %}

        {% if campanies %}
<br><br>

        <table class="table table-condensed">
            <tr>
            <th>Номер</th>
            <th align="center">Цена за просмотр</th>
            <th align="center">Кол-во просмотров</th>
            <th align="center">Платформа</th>
            <th align="center">Состояние</th>

            <th align="center">Проверена</th>
                <th align="center">Время проведения</th>
                <th></th>
            </tr>
            {% for t in campanies %}
            <tr>
               <td>№ {{t.cid }}</td>
                <td align="center"> {{t.viewPrice}}</td>
                <td align="center"> {{t.curViewCnt}}/{{t.targetViewCnt}}</td>
                <td align="center"> {{t.platform}}</td>
                <td align="center"> {% if t.isActive %}
                    Запущена
                    {%else%}
                    Готовится
                    {%endif%}
                </td>
                <td align="center">
                    {% ifequal t.adminApproved 0 %}
                        Обрабатывается
                    {% endifequal %}
                    {% ifequal t.adminApproved 1 %}
                        Принята
                    {% endifequal %}
                    {% ifequal t.adminApproved 2 %}
                        Не принята
                    {% endifequal %}
                </td>
                <td align="center"> ( {{t.startTime}}-{{t.endTime}})</td>
                <td><a href="/customer/campany/detail/{{t.cid}}/" class="btn btn-default ">Подробнее{% ifnotequal 0 t.notReadedCnt%}<b>({{t.notReadedCnt}})</b>
                        {% endifnotequal %}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {%else%}
        <br><br><br><br>
        <p class="text-center text-muted">Пока что нет кампаний</p>
        <br><br><br><br>
    {% endif %}

{% endblock %}