{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Регистрация {%endblock %}



  {% block content %}


	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<div class="row">
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Кампания № {{id}}</h1>
				</header>


							<div class="col-md-4" align="center">
								<form action="" method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
									<table><tr><td colspan="2">
  {% bootstrap_field form.description %}</td>
										</tr><tr><td>
  {% bootstrap_field form.viewPrice %}
										</td><td>
  {% bootstrap_field form.budget %}
										</td></tr><tr><td valign="center">
										{% bootstrap_field form.image %}</td><td>
  {% buttons %}
    <button type="submit" class="btn btn-primary">
  Сохранить
    </button>
  {% endbuttons %}</td></tr>
										</table>
</form>



				</article>
</div></center>


	</div>	<!-- /container -->

 {% endblock %}