{% extends "progressus/simplePanelPage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block page %}

                        <h3 class="thin text-center">Укажите сумму пополнения</h3>
                        <p class="text-center text-muted">Для пополнения баланса переведите деньги на указанный QIWI-кошелёк, после
                            чего нажмите на кнопку "оплачено" в деталях заявки.<br> Комментарий к платежу:<br> <div id="comment"><b>{{form.comment.value}}</b></div></p>

                        <form method="post" id="form">

                            <hr>
                                <b> Номер QIWI кошелька: {{ qiwi }} </b><br><br>
                            {% csrf_token %}
                            <div class="col-lg-4">
                                    {% bootstrap_field form.value %}
                                    {{ form.comment}}
                            </div><br>
                            <div class="row widget">


                                <div class="col-lg-4">
                                    <button class="btn btn-action" type="submit">Создать заявку</button>
                                </div>
                            </div>
                        </form>

{% endblock %}



{% block page_menu_links %}
			<li><a href="/customer/">Заказчику</a></li>
			<li class="active">Создать заявку</li>
{% endblock %}
