{% extends "progressus/simplePanelPage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block page %}

                        <h3 class="thin text-center">Укажите сумму пополнения</h3>
                        <p class="text-center text-muted">Для пополнения баланса переведите деньги на указанный QIWI-кошелёк, после
                        чего нажмите на кнопку "оплачено" в деталях заявки</p>

                        <form method="post">

                            <hr>
                                <b> Номер QIWI кошелька: {{ qiwi }} </b><br><br>
                            {% csrf_token %}
                            <div class="col-lg-4">
                                    {% bootstrap_field form.value %}

                            </div><br>
                            <div class="row widget">


                                <div class="col-lg-4">
                                    <button class="btn btn-action" type="submit">Создать заявку</button>
                                </div>
                            </div>
                        </form>

{% endblock %}