{% extends "progressus/comments.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block chat_info %}
{% if isUser %}
<b> Номер QIWI кошелька: {{ qiwi }} </b><br>
Сумма: {{value}}
<br>
{%endif%}

<H3> Состояние :
    <div class="
                {% ifequal state 0%}text-primary{% endifequal %}
                {% ifequal state 1%}text-muted{% endifequal %}
                {% ifequal state 2%}text-danger{% endifequal %}
                {% ifequal state 3%}text-success{% endifequal %}
                "> {{state_val}}
    </div>
</H3>

{% if need_pay %}
    <div class="text-help">
        Если вы уже сделали перевод, нажмите на кнопку "Перевод выполнен"
    </div><br>
    <a href="/customer/replenish/set_payed/{{id}}/" class="btn btn-success">
        Перевод выполнен
    </a>
{%endif%}
<form action="" method="post">{% csrf_token %}</form>
{% endblock %}
