{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Заявка № {{id}} от {{date}} {%endblock %}


{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">


    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Заявка № {{id}} от {{date}}</h1>
            </header>

            {% if need_pay %} <i>Если вы уже сделали перевод, нажмите на кнопку "Перевод выполнен"</i><br> {%endif%}
            Состояние : {{state}}
            <br>
            {% if need_pay %}
            <a href="/customer/replenish/set_payed/{{id}}/" class="btn btn-success">
                Перевод выполнен
            </a>
            {%endif%}
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Диалог</h3>
                            <br><br>


                            {% if comments %}

                            {% for c in comments %}
                            {{c.author.first_name}}: {{c.text}}<br>
                            {% endfor %}

                            {%else%}
                            Пока что сообщений нет

                            {% endif %}

                            <br><br>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4">
                                        {% bootstrap_field form.value %}
                                    </div>
                                    <div class="col-lg-4 ">
                                        <button class="btn btn-action" type="submit">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->


{% endblock %}