{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}


{% block content %}

<ol class="breadcrumb">
			{% block page_menu %}

			{% endblock %}
		</ol>

<!-- container -->
<div class="container">
    <div class="row">

        <header class="page-header">
                <h1 class="page-title">{{caption}}</h1>
        </header>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1">

                {% block chat_info %}

                {% endblock %}
            </div>
            <div class="col-sm-6 col-md-6 col-md-offset-1 col-sm-offset-1">
                <div class="row">
                    <textarea class="mytext"  rows="3" cols="67" id="inputSend" placeholder="Введите сообщение..."> </textarea>
                </div>
                <br>
                <div class="row">
                    <button id="btnSend" class="btn btn-primary" align="right"> Отправить</button>
                </div>
                <br>
                <div class="row big_frame_chat">
                         <ul class="bigMessageList"></ul>

                </div>
            </div>
        </div>
    </div>
</div>    <!-- /container -->

    <form action="" method="post">{% csrf_token %}</form>

{% endblock %}

{% block footer_script %}
    <script src="{% static 'js/bigChat.js'%}"></script>
   <script>

    window.onload = function() {
         $('#inputSend').val('');
        setStats("{{request.user.first_name}}","{% static from_av %}","{% static to_av %}","{{target}}");
        {% for c in comments %}
            insertChat("{{c.name}}", "{{c.text}}", {{c.isUsers}},"{{c.date}}");
        {% endfor %}

    };


    </script>
{% endblock %}


