{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} {{caption}}{%endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}


{% block content %}

<!-- container -->
<div class="container">
    <div class="row">

        <header class="page-header">
                <h1 class="page-title">{{caption}}</h1>
        </header>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-md-offset-2 col-sm-offset-2">

                {% block chat_info %}

                {% endblock %}
            </div>
            <div class="col-sm-4 col-md-4 col-md-offset-2 col-sm-offset-2 frame_chat">

             <div class="">
                <ul class="messageList"></ul>
                    <div>
                                    <div class="msj-rta macro" style="margin:auto">
                                        <div class="text text-r" style="background:whitesmoke !important">
                                            <textarea class="mytext" placeholder="Введите сообщение..."></textarea>
                                        </div>
                                    </div>
                    </div>
             </div>

            </div>
        </div>
    </div>
</div>    <!-- /container -->

    <form action="" method="post">{% csrf_token %}</form>

{% endblock %}

{% block footer_script %}
    <script src="{% static 'js/chat.js'%}"></script>
   <script>

    window.onload = function() {
        setStats("{{request.user.first_name}}","{% static from_av %}","{% static to_av %}","{{target}}");
        {% for c in comments %}
            insertChat("{{c.name}}", "{{c.text}}", {{c.isUsers}},"{{c.date}}");
        {% endfor %}
    };

    </script>
{% endblock %}