{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% load bootstrap3 %}


{% block content %}

<!-- container -->
<div class="container">

    <div class="row">

 <ol class="breadcrumb">
			{% block page_menu_links %}

			{% endblock %}
        </ol>

        <header class="page-header">
            <h1 class="page-title">{% block h1%}{{caption}}{%endblock%}</h1>
        </header>

        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            {% block page %}
            {{text}}
            {% endblock %}
        </div>
    </div>
</div>    <!-- /container -->


{% endblock %}