{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} {{caption}} {%endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}


{% block content %}
<!--

                       {% if comments %}

                            {% for c in comments %}
                            {{c.author.first_name}}: {{c.text}}<br>
                            {% endfor %}

                            {%else%}
                            Пока что сообщений нет

                            {% endif %}

                            <br><br>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4">
                                        {% bootstrap_field form.value %}
                                    </div>
                                    <div class="col-lg-4 ">
                                        <button class="btn btn-action" type="submit">Отправить</button>
                                    </div>
                                </div>
                            </form>
-->

<!-- container -->
<div class="container">
    <div class="row">

            <header class="page-header">
                <h1 class="page-title">Заявка № {{id}} от {{date}}</h1>
            </header>

            <div class="row">
            {% if need_pay %}
                <i>Если вы уже сделали перевод, нажмите на кнопку "Перевод выполнен"</i><br>
                <a href="/customer/replenish/set_payed/{{id}}/" class="btn btn-success">
                    Перевод выполнен
                </a>
            {%endif%}
                Состояние : {{state}}
            </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4 frame">
                <ul class="messageList"></ul>
                    <div>
                                    <div class="msj-rta macro" style="margin:auto">
                                        <div class="text text-r" style="background:whitesmoke !important">
                                            <input class="mytext" placeholder="Type a message"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

        </div>
    </div>
</div>    <!-- /container -->


{% endblock %}

{% block footer_script %}
    <script src="{% static 'js/chat.js'%}"></script>
{% endblock %}