{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Список попыток{% endblock %}
{% block style_block %}
    .namediv {
    width:13em;
    }
    tasknamediv{
    width:13em;
    }

{% endblock %}

{% block content %}
<h1>Не принятые работы</h1>
{% endblock %}
{% block sub_content %}
{% if user.is_staff %}

<table class="table">
    <tr>
        <th>Фамилия Имя</th>
        <th>Задание</th>
        <th>Ссылка</th>
        <th>Комментарий</th>
        <th>Проверить</th>

    </tr>
    {% for mark in mark_list %}
        <tr>
            <td class="namediv" >
                {{ mark.student.user.first_name }}
                {{ mark.student.user.last_name }}

            </td>
            <td class="tasknamediv">
                {{ mark.task.task_name }}
            </td>
            <td>
                <a href="{{ mark.student.github_rep }}"  rel="external">Гитхаб</a>
                <script type="text/javascript">
                    $('a[rel=external]').attr('target', '_blank');
                </script>

            </td>
            <td>
                <div>
                   <b>{{ mark.comment.first.author.user.first_name }}: </b>
                        {{ mark.comment.first.text |linebreaks}}
                </div>
            </td>c
            <td>
                <a href="/mark/detail/{{ mark.id }}/" class="btn btn-default" rel="button">Обсуждение</a>
                <a href="/mark/mark/{{ mark.id }}/2/" class="btn btn-success" rel="button">Принять</a>
                <a href="/mark/mark/{{ mark.id }}/1/" class="btn btn-warning" rel="button">Слить</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    Вам недоступен этот раздел
{%  endif %}

{% endblock %}