{% extends 'progressus/simpleMinPanelPage.html' %}

{% block h1%}Восстановление пароля{%endblock%}

{%block title%} Восстановление пароля {%endblock%}

{% block page %}
<p>
    Мы отправили вам по электронной почте инструкции по сбросу пароля, если учетная запись с введённым Вами адресом
    существует,Вы должны получить их в ближайшее время.
    </p>
    <p>
        Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы зарегистрировали,
        и проверьте папку со спамом.
</p>
{% endblock %}