{% extends 'progressus/simpleMinPanelPage.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block h1%}Изменить пароль{%endblock%}

{%block title%} Изменить пароль {%endblock%}

{% block page %}
  {% if validlink %}
    <h3>Изменение пароля</h3>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <label for="new_password1">Новый пароль: </label>
          <input  class="form-control" id="new_password1" type="password" name="new_password1" maxlength="100" required />
        </div>
        <div class="col-md-6 col-sm-6">
          <label for="new_password2">Повторите пароль: </label>
          <input  class="form-control" id="new_password2" type="password" name="new_password2" maxlength="100" required />
        </div>
      </div>
      <div class="row">
        <br>
        <button type="submit" class="btn btn-primary">Изменить</button>
      </div>
      <div class="row" align="left">
          <br>
        <ul class="list-group">
            <li class="list-group-item">Ваш пароль не может быть слишком похож на Ваш адрес почты.</li>
            <li class="list-group-item">Ваш пароль должен содержать не менее 8 символов.</li>
            <li class="list-group-item">Ваш пароль не может совпадать с предыдущим.</li>
            <li class="list-group-item"> Ваш пароль не может состоять только из чисел.</li>
        </ul>
      </div>
    </form>
  {% else %}
    <p>
    Ссылка на сброс пароля недействительна, возможно, потому, что она уже использовалась.
      Пожалуйста, запросите новый сброс пароля.
    </p>
  {% endif %}
{% endblock %}

