{% extends "progressus/simpleMinPanelPage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load bootstrap3 %}

  {% block page %}

							<h3 class="thin text-center">Войдите в систему</h3>
							<p class="text-center text-muted">Если вы ещё не зарегистрированы в ситеме, <a href="/signup/">Зарегистрируйтесь</a></p>

							<form method="post">
								{% csrf_token %}
								<div class="top-margin">
									{% bootstrap_field form.login %}
								</div>
								<div class="top-margin">
									{% bootstrap_field form.password %}
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b><a href="/password_reset/">Забыли пароль?</a></b>
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Войти</button>
									</div>
								</div>
							</form>


	{% endblock %}