{% extends "progressus/simplePage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load bootstrap3 %}

{% block page %}


							<div class="col-md-4">
							<h3 class="thin text-center">Уже зарегистрированы?</h3>
							<p class="text-center text-muted">
								Тогда Вам нужно просто войти в систему</p>
								<center>
								<a align="center" class="btn btn-action" href="/signin/">Войти</a>
</center>

				</div>
					<div class="col-md-4">
							<h3 class="thin text-center">Хотите заработать?</h3>
							<p class="text-center text-muted">
								Тогда Вам необходимо зарегистрироваться на платформе как
								исполнитель</p>
<center>
								<a align="center" class="btn btn-action" href="consumer/">Регистрация</a>

</center>
				</div>

	<div class="col-md-4">

							<h3 class="thin text-center">Хотит заказать рекламу?</h3>
							<p class="text-center text-muted">
								Тогда Вам необходимо зарегистрироваться на платформе как
								рекламодатель</p>
							<center>
								<a align="center" class="btn btn-action" href="customer/">Регистрация</a>
							</center>


				</div>

	
 {% endblock %}