{% extends "progressus/simpleMinPanelPage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block page %}

<h3 class="thin text-center">Регистрация нового аккаунта</h3>
<p class="text-center text-muted">Если вы уже зарегистрированы, <a href="/signin/">Войдите</a>.</p>
<hr>

<form method="post">
    {% csrf_token %}

    <div class="top-margin">
        <div class="col-sm-6">
            {% bootstrap_field form.name %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.mail %}
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-sm-6">
            {% bootstrap_field form.password %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.rep_password %}
        </div>
    </div>

    <hr>
    <div class="row top-margin">
        <div class="col-sm-6">
            {% bootstrap_field form.acceptedTerms %}
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-action" type="submit">Регистрация</button>
        </div>
    </div>
</form>

{% endblock %}