{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Вход {%endblock %}


{% block menu %}
                <li ><a href="/">Главная</a></li>
                <li><a href="/about/">О нас</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Как это работает<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/customer/">Заказчику</a></li>
                        <li><a href="/consumer/">Исполнителю</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a></li>


               {% endblock %}


  {% block content %}


	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">



		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Войти</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Войдите в систему</h3>
							<p class="text-center text-muted">Если вы ещё не зарегистрированы в ситеме, <a href="/signup/">Зарегистрируйтесь</a></p>

							<form method="post">
								{% csrf_token %}
								<div class="top-margin">
									{% bootstrap_field form.login %}
								</div>
								<div class="top-margin">
									{% bootstrap_field form.password %}
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b><a href="">Забыли пароль?</a></b>
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Войти</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	

	{% endblock %}