{% extends "progressus/simplePage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block style_block %}
    .table td {
        text-align: center;
    }
    .table th {
        text-align: center;
    }
    th.rightOrient{
        text-align: right;
    }


{% endblock %}

{% block page %}

        {% if campanies %}
        <table width="100%" class = "table table-condensed" style="border-spacing: 7px 11px;">
            <tr>
            <th align="center">Цена за просмотр</th>
            <th align="center">Кол-во просмотров</th>
            <th align="center">Платформа</th>
            <th align="center">Время проведения</th>
                <th></th>
            </tr>

            {% for t in campanies %}
            <tr>

                <td align="center"> {{t.viewPrice}}</td>
                <td align="center"> {{t.viewCnt}}</td>
                <td align="center"> {{t.platform}}</td>
                <td align="center"> ( {{t.startTime}}-{{t.endTime}})</td>
                <td><a href="/consumer/campany/detail/{{t.cid}}/" class="btn btn-success">Детали</a></td>

            </tr>
            {% endfor %}
        </table>
    </div>

    {%else%}
     <br><br><br><br>
        <p class="text-center text-muted">Пока что нет кампаний</p>
        <br><br><br><br>
    {% endif %}


{% endblock %}