{% extends "progressus/simplePage.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load bootstrap3 %}


{% block page %}
    <div class="row">
            <div class="col-md-4">
                <h3 class="thin text-center">Активные кампании</h3>
                <p class="text-center text-muted">
                    Здесь Вы можете посмотреть за ходом кампаний, в которых Вы участвуете</p>
                <center>
                    <a align="center" class="btn btn-action" href="/consumer/campanies/1/">Перейти</a>
                </center>

            </div>
            <div class="col-md-4">
                <h3 class="thin text-center">Неактивные кампании</h3>
                <p class="text-center text-muted">
                    Здесь Вы можете выбрать кампании, в которых Вы ещё не участвовали</p>
                <center>
                    <a align="center" class="btn btn-action" href="/consumer/campanies/0/">Перейти</a>

                </center>
            </div>

            <div class="col-md-4">
                <h3 class="thin text-center">История</h3>
                <p class="text-center text-muted">
                    Здесь Вы можете посмотреть за ходом кампаний, в которых Вы уже участвовали</p>
                <center>
                    <a align="center" class="btn btn-action" href="/consumer/campanies/2/">Перейти</a>
                </center>
            </div>
    </div>

{% endblock %}