{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Кампания № {{id}} {%endblock %}


{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <div class="row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Кампания № {{id}}</h1>
            </header>
            <div class="col-md-8" align="center">
                <form action="" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td colspan="3">
                                Описание: {{m.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 Цена просмотра: {{m.viewPrice }}
                            </td>
                             <td>
                                Платформа: {{ m.platform }}
                            </td>
                            <td>Просмотров: {{viewCnt}}</td>
                        </tr>
                        <tr>

                            <td colspan="3" valign="center">
                               <img src="{% static m.image.url %}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <a href="https://vk.com/direct_pr?w=wall-155745173_{{m.vkPostID}}">Запись ВК: </a>
                            </td>
                        </tr>
                    </table>
                </form>
        </article>
    </div>
</div>    <!-- /container -->

{% endblock %}


{% block footer_script %}

<script type="text/javascript">
      $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>

{%endblock %}