{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Профиль пользователя {%endblock %}


{% block menu %}
<li><a href="/">Главная</a></li>
<li><a href="/about/">О нас</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Как это работает<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/customer/">Заказчику</a></li>
        <li><a href="/consumer/">Исполнителю</a></li>
    </ul>
</li>
<li><a href="/contact/">Контакты</a></li>


{% endblock %}


{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">


    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Профиль пользователя</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Здравствуйте, {{u.user.first_name}} {{u.user.last_name}}!</h3>
                        <p class="text-center text-muted">{{u.user.email}}</p>

                        <form method="post">

                            <hr>
                            {% csrf_token %}


                            <div class="row">

                                <div class="col-lg-4">
                                    {% bootstrap_field form.second_name %}
                                </div>
                                <div class="col-lg-4">
                                    {% bootstrap_field form.name %}
                                </div>
 <div class="col-lg-4">
                                {% bootstrap_field form.qiwi %}
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    {% bootstrap_field form.autoParticipate %}
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit">Изменить</button>
                                </div>
                            </div>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <a href="/consumer/login/vk/" class="btn ">Добавить ВК</a>
                                  </div>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->
<br>
    {{u.vk_token}}<br>
    {{u.vk_id}}

    </div>
</div>    <!-- /container -->


{% endblock %}