{% extends "progressus/simplePage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block page %}

<div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
        <div class="row">
            <h3 class="thin text-center">Здравствуйте, {{u.user.first_name}} {{u.user.last_name}}!</h3>
            <p class="text-center text-muted">{{u.user.email}}</p>

        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <h4>Баланс : {{u.balance}} р.</h4>
                <a href="/consumer/withdraw/" class="btn btn-primary">Вывести средства</a>
            </div>
        </div>
        <div class="row">
            <form method="post">

                <hr>
                {% csrf_token %}
                <div class="top-margin">
                    {% bootstrap_field form.second_name %}
                </div>
                <div class="top-margin">
                    {% bootstrap_field form.name %}
                </div>
                <div class="top-margin">
                    {% bootstrap_field form.qiwi %}
                </div>


                <div class="col-lg-4 text-right">
                    <button class="btn btn-action" type="submit">Изменить</button>
                </div>
            </form>
        </div>
    </div>

<div class=col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1">


    <div class="row">
          {%if u.blocked %}
                <div class="row">
                    <div class="col-md-12" align="center">
                        <h3 class="text-danger">Вы заблокированы</h3>
                        В случае, если Вы не понимаете, почему, обратитесь в <a href="/tehsupport/">тех.поддержку</a>
                      </div>
                </div>
        {%endif%}
        <div class="row">
             <div class="col-md-12" align="center">
            {%if vkEnabled %}
                ВК привязан
            {%else%}
                <a class="btn btn-primary" href="/consumer/vk/getCode/">Привязать ВК</a>
            {%endif%}
                 {{u.vk_token}}
             </div>
        </div>

        <div class="col-md-12" align="center"><h3>Заявки на вывод</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            {% if transactions %}
                <table  class="table table-condensed">
                    <tr>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Состояние</th>
                        <th></th>
                    </tr>
                {% for t in transactions %}
                    <tr>
                    <td> {{t.date}}</td>
                    <td class="text-primary"> {{t.value}}</td>
                    <td class="{{t.stateClass}}"> {{t.state}}</td>
                    <td><a href="/consumer/withdraw/detail/{{t.tid}}/" class="btn btn-default">Детали {% ifnotequal 0 t.notReadedCnt%}<b>({{t.notReadedCnt}})</b>
                        {% endifnotequal %}</a></td>
                    </tr>
                {% endfor %}
                </table>
            {%else%}
                <br><br><br><br>
                <p class="text-center text-muted">Пока что нет заявок</p>
                <br><br><br><br>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}