{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} {{caption}} {%endblock %}
{%block style_block %}
.table{
border-spacing: 20px 20px;
}
.not-active {
pointer-events: none;
cursor: default;
}
.td{
padding: 5px;
}

{% endblock %}


{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">


    <div class="row">

        <br><br>

        <header class="page-header">
            <h1 class="page-title">{{caption}}</h1>
        </header>

        <br><br>
        {% if campanies %}
        <table width="100%" style="border-spacing: 7px 11px;">
            <th>
            <td></td>
            <td align="center">Цена за просмотр</td>
            <td align="center">Кол-во просмотров</td>
            <td align="center">Платформа</td>
            <td align="center">Состояние</td>
            <td align="center">Время проведения</td>
            </th>
            {% for t in campanies %}
            <tr>
                <td></td>
                <td><img src="{% static t.image.url %}"></td>

                <td align="center"> {{t.viewPrice}}</td>
                <td align="center"> {{t.curViewCnt}}/{{t.targetViewCnt}}</td>
                <td align="center"> {{t.platform}}</td>
                <td align="center"> {% if t.isActive %}
                    Запущена
                    {%else%}
                    Готовится
                    {%endif%}
                </td>
                <td align="center"> ( {{t.startTime}}-{{t.endTime}})</td>


                <td><a href="/consumer/campany/detail/{{t.cid}}/" class="btn btn-success">Детали</a></td>

            </tr>
            {% endfor %}
        </table>
    </div>

    {%else%}
    <p class="text-center text-muted">Пока что у Вас нет кампаний</p>

    {% endif %}
</div>


</article>
<!-- /Article -->

</div>
</div>    <!-- /container -->


{% endblock %}