
<a href="http://www.vkontakte.ru">VKontakte</a> login



<script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>

<script type="text/javascript">
	var vkAppId = {{ VK_APP_ID|default:"null" }};

	if (vkAppId)
  		VK.init({ apiId: vkAppId });


</script>

<p>
    <a href="javascript:void(0);" onclick="authVK();">Click to authorize</a>
</p>

{{SECRET_KEY}}

{{response.session.user.first_name}}<br>
{{response.session.user.nickname}}<br>
{{response.session.user.last_name}}<br>
{{response.session.user.id}}<br>