{% extends "progressus/simpleMinPanelPage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block page %}

                        <h3 class="thin text-center">Укажите сумму вывода</h3>

                        <form method="post" id="form">

                            <hr>
                            <p>Доступно к выводу: {{balance}}, больше этой суммы Вы вывести не можете.
                              </div>
                            </p>
                            {% csrf_token %}
                            <div class="col-lg-4">
                                    {% bootstrap_field form.value %}

                            </div><br>
<div class="row widget">


                                <div class="col-lg-4">
                                    <button class="btn btn-action" type="submit">Создать заявку</button>
                                </div>
</div>
                        </form>


{% endblock %}
