{% extends "progressus/comments.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block page_menu %}
			<li><a href="/">Заказчику</a></li>
			<li class="active">Заявка</li>
{% endblock %}


{% block chat_info %}
<b> Номер QIWI кошелька: {{ qiwi }} </b><br>
Сумма: {{value}}

<H3> Состояние :
    <div class="
                {% ifequal state 0%}text-muted{% endifequal %}
                {% ifequal state 1%}text-danger{% endifequal %}
                {% ifequal state 2%}text-success{% endifequal %}
                "> {{state_val}}
    </div>
</H3>

<form action="" method="post">{% csrf_token %}</form>
{% endblock %}


