{% extends "progressus/simplePage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block style_block %}
    .table td {
        text-align: center;
    }
    .table th {
        text-align: center;
    }
    th.rightOrient{
        text-align: right;
    }


{% endblock %}

{% block page %}

    {% if cheaters %}
<br><br>
        <table class="table table-condensed">
            <tr>
                <th >Номер кампании</th>
                <th >Ссылка</th>
                <th >Просмотры/друзья+подписчики</th>
                <th> </th>
                <th> </th>
            </tr>
            {% for t in cheaters %}
            <tr>
                <td> {{t.tid}}</td>
                <td> <a href="{{t.link}}">Посмотреть</a></td>
                <td> {{t.viewCnt}}/{{t.friendCnt}}</td>
                {% ifequal state 1 %}
                <td class="leftBorder">
                    <a href="/adminPanel/cheaters/punish/{{t.tid}}/" class="btn btn-danger">
                        Читер
                    </a>
                </td>
                     {% endifequal %}

                 <td>
                    <a href="/adminPanel/cheaters/free/{{t.tid}}/" class="btn btn-success">
                        Не читер
                    </a>
                </td>

              </tr>
            {% endfor %}
        </table>
    {%else%}
        <br><br><br><br>
        <p class="text-center text-muted">Пока что нет обманщиков</p>
        <br><br><br><br>
    {% endif %}

{% endblock %}


