{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Кампания № {{id}} {%endblock %}


{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <div class="row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Кампания № {{id}}</h1>
            </header>
            <div class="col-md-4" align="center">
                <table>
                    <tr>
                        <td colspan="2">
                            <b>Текст: </b>{{mc.description}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Цена просмотра: </b>{{mc.viewPrice }}
                        </td>
                        <td>
                            <b>Бюджет: </b>{{mc.budget }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b>Время: </b><br>
                            {{mc.startTime }} - <br>
                            {{mc.endTime }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Платформа: </b>
                            {% ifequal 1 mc.platform %}
                                Вконтакте
                            {%endifequal%}
                        </td> <td>
                            <a href="https://vk.com/direct_pr?w=wall-155745173_{{mc.vkPostID}}">Запись ВК: </a>
                        </td>
                    </tr>
                     <tr>
                        <td colspan="2">
                          <img src="{% static mc.image.url %}">
                        </td>
                    </tr><br>
                    <tr>
                        <td><a href="/adminPanel/campany/approve/{{id}}/" class="btn btn-success ">Принять</a></td>
                 <td><a href="/adminPanel/campany/dismiss/{{id}}/" class="btn btn-danger ">Отклонить</a></td>
                    </tr>
                    <tr>
                        <form action="." method="post">
                             {% csrf_token %}
                            <td>
                           {% bootstrap_field form.id %}
                            </td><td>
                            <button class="btn btn-action" type="submit">Сохранить</button>
                        </td>
                        </form>
                    </tr>

                </table>
                <br>


        </article>
    </div>
</div>    <!-- /container -->

{% endblock %}


{% block footer_script %}

<script type="text/javascript">
      $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });



</script>

{%endblock %}