{# Шаблон для страницы обработки заявок на внесение денег #}

{% extends "progressus/simplePanelPage.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load bootstrap3 %}


{% block page %}
<div class="row">
    <br><br>
    <div class="col-sm-4 col-md-4">
        <a href="/adminPanel/replenish/list/1/" class="btn btn-default">
            Не обработанные
        </a>
    </div>
    <div class="col-sm-4 col-md-4">
        <a href="/adminPanel/replenish/list/3/" class="btn btn-success">
            Выполненные
        </a>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class=col-md-4">
            <a href="/adminPanel/replenish/list/2/" class="btn btn-danger">
                Отклонённые
            </a>
        </div>
    </div>
      <br><br>
</div>
<div class="row">
<br><br>
</div>
{% endblock %}