{% extends "progressus/simplePanelPage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% load bootstrap3 %}

{% block page %}
<div class="row">
    <div class="col-sm-4 col-md-4">
        <a href="/adminPanel/replenish/not-accepted/" class="btn btn-default">
            Не обработанные
        </a>
    </div>
    <div class="col-sm-4 col-md-4">
        <a href="/adminPanel/replenish/accepted/" class="btn btn-success">
            Выполненные
        </a>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class=col-md-4">
            <a href="/adminPanel/replenish/rejected/" class="btn btn-danger">
                Отклонённые
            </a>
        </div>
    </div>
</div>
{% endblock %}