{% extends "progressus/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block title %} Админ: пополнение баланса {%endblock %}


{% block content %}


<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">


    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Заявки на пополнение</h1>
            </header>
                        <a href="/adminPanel/withdraw/not-accepted/" class="btn btn-default">Не обработанные</a>
                        <a href="/adminPanel/withdraw/accepted/" class="btn btn-success">Выполненные</a>
                        <a href="/adminPanel/withdraw/rejected/" class="btn btn-danger">Отклонённые</a>
        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->


{% endblock %}