{% extends "progressus/simplePage.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block style_block %}
    .table td {
        text-align: center;
    }
    .table th {
        text-align: center;
    }
    th.rightOrient{
        text-align: right;
    }
.not-active {
pointer-events: none;
cursor: default;
}

{% endblock %}

{% block page %}

    {% if transactions %}
<br><br>
        <table class="table table-condensed" >
            <tr>
                <th >Дата</th>
                <th >Сумма</th>
                <th >Киви</th>
                <th></th>
            </tr>
            {% for t in transactions %}
            <tr>
                <td> {{t.date}}</td>
                <td class="text-success"> {{t.value}}</td>
                <td> {{t.qiwi}}</td>
                {% ifequal state 0 %}
                <td class="leftBorder">
                    <a href="/adminPanel/withdraw/accept/{{t.tid}}/" class="{% if t.canNotPay %} not-active btn-default {%else%} btn-success{% endif %} btn ">
                        Принять
                    </a>
                </td>
                 <td>
                    <a href="/adminPanel/withdraw/reject/{{t.tid}}/" class="btn btn-danger">
                        Отклонить
                    </a>
                </td>
                {% endifequal %}
                {% ifequal state 1 %}
                <td class="leftBorder">
                    <a href="/adminPanel/withdraw/accept/{{t.tid}}/" class="btn btn-success">
                        Принять
                    </a>
                </td>
                {% endifequal %}
                <td class="rightOrient">
                    <a href="/consumer/withdraw/detail/{{t.tid}}/" class="btn btn-default">
                        обсуждение
                    </a>
                </td>

              </tr>
            {% endfor %}
        </table>
    {%else%}
        <br><br><br><br>
        <p class="text-center text-muted">Пока что нет заявок</p>
        <br><br><br><br>
    {% endif %}

{% endblock %}




